.flex {
    display: flex;
    /*flex-wrap: wrap;*/
}

.nomargin {
    margin: 0 !important;
}

.borderBottom {
    border-bottom: 1px solid #afafaf;
}

.borderTop {
    border-top: 1px solid #afafaf;
}

.responsiveFont {
        font-size: 1.5vw !important;
    }


@media screen and (max-width: 1200px) {
  .responsiveFont {
        font-size: 3vw !important;
    }
}

@media screen and (max-width: 400px) {
  .responsiveFont {
        font-size: 5vw !important;
    }
}