.cardwrapper {
    width: 100%;
    height: 70%;
    border: 1px solid lightslategrey;
    background-color: #ececec;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardwrapper > * {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 900px) {
    .cardwrapper {
        height: 100%;
    }
}