.cardwrapper {
    width: 70%;
    height: 65%;
    border: 1px solid lightslategrey;
    background-color: #ececec;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardwrapper  * {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}
