.cell {
    border: 1px solid cadetblue;
    /*padding: 2rem;*/
    width: 2em;
    height: 2em;
    font-size: 2.5rem;
    cursor: pointer;
    background-color: whitesmoke;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cellCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}