body {
    margin: 0 auto;
    padding: 0;
    max-width: 900px;
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

body > * {
    max-height: 100vh;
    height: 100vh;
}

/*@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}*/