body {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

body > * {
    max-height: 100vh;
    height: 100vh;
}
